

  
  .tooltip-chart-visible {
    opacity: 1;
    width: 200px;
    background-color: red;
  }
  .circle-transition {
    transition: opacity 0.6s ease-out;
  }

  .tooltip-chart {
    animation: fadeInUp 0.5s ease-out;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
 