@keyframes grow {
    from {
      height: 0;
    }
    to {
      height: var(--final-height); /* Usaremos una variable CSS para definir la altura final */
    }
  }
  
  .bar-animation {
    animation: grow 0.6s ease-out forwards; /* Ajusta la duración y la curva de velocidad como prefieras */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  